<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>佩奇</string>
		<key>age</key>
		<integer>4</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>乔治</string>
		<key>age</key>
		<integer>2</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>苏西</string>
		<key>age</key>
		<integer>4</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>小猫坎迪</string>
		<key>age</key>
		<integer>4</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>小狗丹尼</string>
		<key>age</key>
		<integer>4</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>小马佩德罗</string>
		<key>age</key>
		<integer>4</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>小狼温蒂</string>
		<key>age</key>
		<integer>4</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>小象艾米丽</string>
		<key>age</key>
		<integer>4</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>猪妈妈</string>
		<key>age</key>
		<integer>25</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>猪爸爸</string>
		<key>age</key>
		<integer>26</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>猪爷爷</string>
		<key>age</key>
		<integer>50</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>猪奶奶</string>
		<key>age</key>
		<integer>50</integer>
		<key>cartoon</key>
		<string>小猪佩奇</string>
		<key>isProtagonist</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>乐迪</string>
		<key>age</key>
		<integer>5</integer>
		<key>cartoon</key>
		<string>超级飞侠</string>
		<key>isProtagonist</key>
		<true/>
		<key>remark</key>
		<string>送快递的</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小爱</string>
		<key>age</key>
		<integer>5</integer>
		<key>cartoon</key>
		<string>超级飞侠</string>
		<key>isProtagonist</key>
		<true/>
		<key>remark</key>
		<string>救援飞侠</string>
	</dict>
	<dict>
		<key>name</key>
		<string>多多</string>
		<key>age</key>
		<integer>5</integer>
		<key>cartoon</key>
		<string>超级飞侠</string>
		<key>isProtagonist</key>
		<true/>
		<key>remark</key>
		<string>建筑飞侠</string>
	</dict>
	<dict>
		<key>name</key>
		<string>酷飞</string>
		<key>age</key>
		<integer>5</integer>
		<key>cartoon</key>
		<string>超级飞侠</string>
		<key>isProtagonist</key>
		<true/>
		<key>remark</key>
		<string>俏皮</string>
	</dict>
	<dict>
		<key>name</key>
		<string>包包警长</string>
		<key>age</key>
		<integer>20</integer>
		<key>cartoon</key>
		<string>超级飞侠</string>
		<key>isProtagonist</key>
		<false/>
		<key>remark</key>
		<string>指挥交通</string>
	</dict>
	<dict>
		<key>name</key>
		<string>胡须爷爷</string>
		<key>age</key>
		<integer>70</integer>
		<key>cartoon</key>
		<string>超级飞侠</string>
		<key>isProtagonist</key>
		<false/>
		<key>remark</key>
		<string>人生导师</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小青</string>
		<key>age</key>
		<integer>17</integer>
		<key>cartoon</key>
		<string>超级飞侠</string>
		<key>isProtagonist</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>金刚</string>
		<key>age</key>
		<integer>18</integer>
		<key>cartoon</key>
		<string>超级飞侠</string>
		<key>isProtagonist</key>
		<false/>
	</dict>
</array>
</plist>
